<section
class="bg-black h-screen w-screen text-center relative overflow-hidden text-white"
>
<div class="relative z-30 h-full flex flex-col">
    <header>
        <h2 class="text-white pt-40 text-[40px] font-medium">
            Disfrute de Tesla
        </h2>
        <p class="text-white text-sm">
            Programe una prueba de conducción hoy mismo
        </p>
    </header>
    <footer
        class="relative z-30 flex flex-col flex-grow justify-end pb-20"
    >
        <div>
            <a
                class="border-[3px] text-sm backdrop-blur-sm rounded font-bold px-[44px] py-2 inline-block hover:text-black hover:bg-white transition-colors duration-300 ease-in-out"
                href="#"
            >
                Prueba de conducción</a
            >
        </div>
    </footer>
</div>

<div class="absolute top-0 bottom-0 w-full h-full z-10">
    <video
        class="h-full object-center object-cover w-full"
        autoplay
        loop
        muted
        src="/video-homePage.webm"></video>
</div>
</section>