<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden text-white"
    data-header-color="black"
>
    <div class="relative z-30 h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model 3</h2>
            <p class="text-black text-sm underline">
                <a href="#">Concertar una prueba de conducción</a>
            </p>
        </header>
        <footer class="relative z-30 flex flex-col flex-grow justify-end pb-20">
            <div class="flex gap-x-6 mx-auto">
                <a
                    class=" text-sm backdrop-blur-sm bg-gray-800 bg-opacity-80 rounded font-bold px-[44px] py-2 inline-block hover:bg-gray-500 transition-colors duration-300 ease-in-out"
                    href="#"
                >
                  Explorar inventario
                </a>
                <a
                class="text-gray-800 bg-gray-200 bg-opacity-65 text-sm backdrop-blur-sm rounded font-bold px-[44px] py-2 inline-block hover:text-white hover:bg-gray-800 hover:bg-opacity-80 transition-colors duration-300 ease-in-out"
                href="#"
            >
                Pedido personalizado
            </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 w-full h-full z-10">
        <img
            class="h-full object-center object-cover w-full"
            src="/Model-3.avif"
            alt="Model 3"
        />
    </div>
</section>
