<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden text-white"
    data-header-color="black"
>
    <div class="relative z-30 h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Solar y Powerwall</h2>
            <p class="text-black text-sm">
                Energía para todos
            </p>
        </header>
        <footer class="relative z-30 flex flex-col flex-grow justify-end pb-20">
            <div class="flex gap-x-6 mx-auto">
                <a
                    class=" text-sm backdrop-blur-sm bg-gray-800 bg-opacity-80 rounded font-bold px-[44px] py-2 inline-block hover:bg-gray-500 transition-colors duration-300 ease-in-out"
                    href="#"
                >
                  Saber más
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 w-full h-full z-10">
        <img
            class="h-full object-center object-cover w-full"
            src="/Powerwall.avif"
            alt="Solar y Powerwall"
        />
    </div>
</section>
